<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
  <t:site key="syslog">https://docs.thycotic.com/ss/10.9.0/events-and-alerts/secure-syslog-cef</t:site>
  <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
  <t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>  
</t:sites>
