<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
 <!-- Doc Links - Connection Manager - main-->
  <t:site key="ConnectionManagerDocs">/cm</t:site>
 <!-- IBM Docs Links -->
  <t:site key="IBMConnectionManagerDocs">http://public.dhe.ibm.com/software/security/products/isss/downloads/docs/integration/SS-INTG-UM-ConnectionManager.pdf</t:site>
 <!-- Installers -->
  <t:site key="SSConnectionManager">https://thycotic.com/solutions/free-it-tools/connection-manager-free/</t:site>
  <t:site key="SSConnectionManagerDownload">https://downloads.cm.thycotic.com/Thycotic.ConnectionManager.WindowsInstaller.msi</t:site>
 <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
  <t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>  
</t:sites>
