<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">

  <!-- EULA ======================================== -->

  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
  <t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>  

 <!-- TDP Links ======================================== -->

  <t:site key="AdvancedImportWithXML">/ss/10.9.0/secret-import-and-export/importing-secrets/</t:site>
  <t:site key="AdvInstallServiceAccount">/ss/10.9.0/secret-server-setup/installation/running-ss-iis-app-pool-service-account</t:site>
  <t:site key="ApplicationAccountKB">/ss/10.9.0/api-scripting/sdk-cli</t:site>
  <t:site key="ApprovalWorkflow">/ss/10.9.0/secret-workflow-templates/</t:site>
  <t:site key="BackupToNetworkShare">/ss/10.9.0/backup-and-disaster-recovery/backing-up-to-network-share/</t:site>
  <t:site key="Ciphers">/ss/10.9.0/authentication/enabling-fips-compliance</t:site>
  <t:site key="ConfiguringSessionRecordingKB">/ss/10.9.0/session-recording/configuring-session-recording/</t:site>
  <t:site key="CSharpWebServices">/ss/10.9.0/api-scripting/soap-c#-example-code</t:site>
  <t:site key="CustomLauncherProcessArguments">/ss/10.9.0/secret-launchers/custom-launchers/custom-launcher-process-arguments</t:site>
  <t:site key="CustomLauncherTypes">/ss/10.9.0/secret-launchers/custom-launchers/</t:site>
  <t:site key="DependencyRegex">/ss/10.9.0/remote-password-changing/configuring-secret-dependencies-for-rpc/using-regex-with-dependencies</t:site>
  <t:site key="DuoSecurityIntegration">/ss/10.9.0/authentication/two-factor-authentication/duo-security-authentication</t:site>
  <t:site key="EnableAspNet">/ss/10.9.0/troubleshooting/404-error-net-framework</t:site>
  <t:site key="launcherFailedLoading">/ss/10.9.0/secret-launchers/enabling-launchers</t:site>
  <t:site key="FormFillerHelp">https://docs.thycotic.com/wpf/2.0.0</t:site>
  <t:site key="IisAppPoolRestartingKnowledgeBase">/ss/10.9.0/troubleshooting/change-iis-worker-process/</t:site>
  <t:site key="IisPiplineIntegratedKnowledgeBase">/ss/10.9.0/secret-server-setup/installation/iis-install-manual/</t:site>
  <t:site key="InternalSiteConnector">/ss/10.9.0/networking/internal-site-connector/</t:site>  
  <t:site key="IsapiCGI">/ss/10.9.0/troubleshooting/404.2-error-isapi-cgi</t:site>
  <t:site key="MaintenanceMode">/ss/10.9.0/admin/maintenance-mode/</t:site>
  <t:site key="PowerShellPasswordChanging">/ss/10.9.0/remote-password-changing/rpc-powershell/</t:site>
  <t:site key="RabbitMQ">/ss/10.9.0/secret-server-setup/installation/installing-rabbitmq/</t:site>
  <t:site key="RabbitMQSSL">/ss/10.9.0/secret-server-setup/installation/installing-rabbitmq/</t:site>
  <t:site key="RESTPowerShellScripts">/ss/10.9.0/api-scripting/rest-api-powershell-examples/</t:site>
  <t:site key="SecretServerCloudArchitecture">/ss/10.9.0/secret-server-cloud/architecture/</t:site>
  <t:site key="SecretServerDiscoveryGuide">/ss/10.9.0/discovery</t:site>
  <t:site key="SecretServerFipsCompliance">/ss/10.9.0/authentication/enabling-fips-compliance</t:site>
  <t:site key="SecretServerMaxOfflineKB">/ss/10.9.0/mobile/maximum-offline-caching/</t:site>  
  <t:site key="SecretServerPowerShellKB">/ss/10.9.0/api-scripting/creating-using-powershell-scripts/</t:site>
  <t:site key="SecretServerRadiusIntegration">/ss/10.9.0/authentication/two-factor-authentication/radius-user-authentication/enable-radius/</t:site>
  <t:site key="SecretServerSamlConfiguration">/ss/10.9.0/authentication/configuring-saml-sso/</t:site>
  <t:site key="SecretServerSdkCliDocs">/ss/10.9.0/api-scripting/sdk-cli/</t:site>
  <t:site key="SecretServerSdkCliDownloads">/ss/10.9.0/api-scripting/sdk-downloads/</t:site>
  <t:site key="SecretServerUpgradeKB">/ss/10.9.0/secret-server-setup/upgrading/upgrading-with-web-clustering</t:site>
  <t:site key="SecretServerUserGuide">/ss/</t:site>
  <t:site key="SecurityHardening">/ss/10.9.0/security-hardening</t:site>
  <t:site key="SecurityHardeningSS">/ss/10.9.0/security-hardening</t:site>
  <t:site key="SetupCredSSP">/ss/10.9.0/authentication/configuring-credssp-for-winrm-with-powershell</t:site>
  <t:site key="SetUpPowerShell">/ss/10.9.0/api-scripting/configuring-winrm-powershell/</t:site>
  <t:site key="SetEventLogPermissions">/ss/10.9.0/admin/administration-auditing/app-pool-access-event-log/</t:site>
  <t:site key="SqlAccountPermissionsSecurityCheck">/ss/10.9.0/secret-server-setup/installation/installing-sql-server-2016/</t:site>
  <t:site key="SqlEncryptionKnowledgeBase">/ss/10.9.0/secret-server-setup/installation/enabling-sql-server-encryption/</t:site>
  <t:site key="SqlFailoverPartnerKnowledgeBase">/ss/10.9.0/backup-and-disaster-recovery/sql-server-mirroring/</t:site>
  <t:site key="SQLServerExpressDownload">/ss/10.9.0/secret-server-setup/installation/installing-sql-server-express-2014/</t:site>
  <t:site key="SQLServerMirroring">/ss/10.9.0/backup-and-disaster-recovery/sql-server-mirroring/</t:site>
  <t:site key="SSAdvancedInstallWin10">/ss/10.9.0/secret-server-setup/installation/advanced-installation-manual</t:site>
  <t:site key="SSDependencyRegex">/ss/10.9.0/remote-password-changing/configuring-secret-dependencies-for-rpc/using-regex-with-dependencies</t:site>
  <t:site key="SSDistributedEngineOverview">/ss/10.9.0/distributed-engines</t:site>
  <t:site key="SSGettingStarted">/ss/10.9.0/getting-started-tutorial</t:site>
  <t:site key="SshTerminalAdminGuide">/ss/10.9.0/discovery/api-scripting/ssh-terminal/</t:site>
  <t:site key="SSInstallationGuides">/ss/10.9.0/secret-server-setup/installation</t:site>
  <t:site key="SSInstallWin10">/ss/10.9.0/secret-server-setup/installation/basic-installation-automatic</t:site>
  <t:site key="SSIntegratedWindowsAuthentication">/ss/10.9.0/authentication/integrated-windows-authentication/configuring-iwa/</t:site>
  <t:site key="SSLoadUserProfile">/ss/10.9.0/troubleshooting/app-pool-load-user-profile</t:site>
  <t:site key="SSOfflineUpgradeKB">/ss/10.9.0/secret-server-setup/upgrading-without-outbound-access/index.md</t:site>
  <t:site key="SSProtectKeyEFS">/ss/10.9.0/security-hardening/index.md#protecting-your-encryption-key-using-efs</t:site>
  <t:site key="SsServerClustering">/ss/10.9.0/networking/secret-server-clustering</t:site>
  <t:site key="SSSystemRequirements">/ss/10.9.0/secret-server-setup/system-requirements</t:site>
  <t:site key="SSUserGuide_GettingStarted">/ss/10.9.0/secret-server-end-user-guide</t:site>
  <t:site key="SSUserGuide_SecretServerFipsCompliance">/ss/10.9.0/authentication/enabling-fips-compliance</t:site>
  <t:site key="SSUserGuide_restoreSecretServerBackup">/ss/10.9.0/backup-and-disaster-recovery/restoring-secret-server-from-backup/index.md</t:site>
  <t:site key="SSUserGuide_Support">/ss/10.9.0</t:site>
  <t:site key="SSUserGuide_SecretServerReportParameters">/ss/10.9.0/reports/using-dynamic-parameters-reports</t:site> 
  <t:site key="SSUsingDoubleLock">/ss/10.9.0/secret-doublelocks</t:site>
  <t:site key="SSWindowsAuthentication">/ss/10.9.0/authentication/accessing-sql-server-with-iwa</t:site>
  <t:site key="SysCefLogSettings">/ss/10.9.0/events-and-alerts/secure-syslog-cef</t:site>
  <t:site key="Syslog">/ss/10.9.0/events-and-alerts/secure-syslog-cef</t:site>
  <t:site key="TeamsRestrictions">/ss/10.9.0/user-teams</t:site>
  <t:site key="ThycoticCallHome">/ss/10.9.0/security-hardening/secret-server-telemetry</t:site>
  <t:site key="ThycoticOneAndSecretServer">/ss/10.9.0/authentication/thycotic-one</t:site>
  <t:site key="TicketSystemPowerShell">/ss/10.9.0/ticketing-system-integration/powershell-integration/index.md</t:site>
  <t:site key="TlsCertificateChainPolicyOptions">/ss/10.9.0/authentication/x509-certificate</t:site>
  <t:site key="VMWarePasswordChanging">/ss/10.9.0/discovery/vmware-esx-esxi-account-discovery</t:site>
  <t:site key="WCFAuthentication">/ss/10.9.0/distributed-engines/configuration-and-sizing</t:site>
  <t:site key="Windows2016AdvancedInstallerGuide">/ss/10.9.0/secret-server-setup/installation/advanced-installation-manual</t:site>
  <t:site key="Windows2016InstallerGuide">/ss/10.9.0/secret-server-setup/installation/basic-installation-automatic</t:site>
  <t:site key="Windows6AdvancedInstallerGuide">/ss/10.9.0/secret-server-setup/installation/advanced-installation-manual</t:site>
  <t:site key="Windows6InstallerGuide">/ss/10.9.0/secret-server-setup/installation/basic-installation-automatic</t:site>
  <t:site key="Windows8AdvancedInstallerGuide">/ss/10.9.0/secret-server-setup/installation/advanced-installation-manual</t:site>
  <t:site key="Windows8InstallerGuide">/ss/10.9.0/secret-server-setup/installation/basic-installation-automatic</t:site>
  <t:site key="SSUserGuide_WindowsIntegratedAuthenticationWebservice">/ss/10.9.0/api-scripting/webservice-iwa-powershell</t:site>
  <t:site key="SSUserGuide_WindowsAuthKB">/ss/10.9.0/authentication/integrated-windows-authentication/configuring-iwa</t:site>
  <t:site key="UsingSecretFieldsInScriptDependencies">/ss/10.9.0/api-scripting/using-secret-fields-scripts</t:site>  
  <t:site key="WebPasswordFiller">https://docs.thycotic.com/wpf/2.0.0</t:site>

  <!-- Salesforce KBA Links ======================================== -->

  <!-- These are mirrored from sites.config and are inactive here -->

<!--   <t:site key="HowDoesSesssionRecordingWork">https://thycotic.force.com/support/s/article/How-does-Session-Recording-work</t:site>
  <t:site key="LicenseFAQ">https://thycotic.force.com/support/s/article/How-is-Secret-Server-licensed</t:site>
  <t:site key="MacCustomLauncherProcessArguments">https://thycotic.force.com/support/s/article/Configuring-Custom-Launcher-Process-Arguments</t:site>
  <t:site key="MacLauncherProtocolHandler">https://thycotic.force.com/support/s/article/Protocol-Handler-Launcher-for-OS-X</t:site>
  <t:site key="NetFxVersion">https://thycotic.force.com/support/s/article/SS-Installing-the-NET-Framework-4-5-1</t:site>
  <t:site key="ODBCPasswordChanger">https://thycotic.force.com/support/s/article/PostgreSQL-and-ODBC-Password-changers-help-and-issues</t:site>
  <t:site key="PerlWebServices">https://thycotic.force.com/support/s/article/Accessing-Secret-Server-programmatically-Perl-sample-script</t:site>
  <t:site key="PHPWebServices">https://thycotic.force.com/support/s/article/Accessing-Secret-Server-programmatically-PHP-sample-script</t:site>
  <t:site key="PublicKeyDigest">https://thycotic.force.com/support/s/article/Server-SSH-Key-Verification</t:site>
  <t:site key="PythonWebServices">https://thycotic.force.com/support/s/article/Accessing-Secret-Server-Programmatically-Python-Sample-Script</t:site>
  <t:site key="RabbitMQExample">https://thycotic.force.com/support/s/article/Example-RabbitMq-Configuration-File-with-Encryption</t:site>
  <t:site key="RemoteAgentFAQ">https://thycotic.force.com/support/s/article/Remote-Agent-FAQ</t:site>
  <t:site key="RubyWebServices">https://thycotic.force.com/support/s/article/Ruby-Web-Services-Example</t:site>
  <t:site key="ScriptableDiscoveryMoreInformation">https://thycotic.force.com/support/s/article/Scriptable-Discovery-Overview</t:site>
  <t:site key="SecretServerConnectWiseConfigurationKnowledgeBase">https://thycotic.force.com/support/s/article/How-to-create-a-custom-view-for-ConnectWise-synchronization</t:site>
  <t:site key="SecretServerLDAPS">https://thycotic.force.com/support/s/article/Using-Secure-LDAP</t:site>
  <t:site key="SecretServerMigrationTool">https://thycotic.force.com/support/s/article/Migration-Tool-Secret-Server</t:site>
  <t:site key="SecretServerSqlScriptKB">https://thycotic.force.com/support/s/article/Creating-and-Using-SQL-Scripts</t:site>
  <t:site key="SecretServerSamlIntegration">https://thycotic.force.com/support/s/article/Configuring-SAML-in-Secret-Server</t:site>
  <t:site key="SecretServerSecretKeyRotation">https://thycotic.force.com/support/s/article/Secret-Key-Rotation</t:site>
  <t:site key="SecretServerSqlScriptKB">https://thycotic.force.com/support/s/article/Creating-and-Using-SQL-Scripts</t:site>
  <t:site key="SecretServerSshCommandMenuKB">https://thycotic.force.com/support/s/article/SSH-Command-Menus</t:site>  
  <t:site key="SecretServerSshScriptKB">https://thycotic.force.com/support/s/article/Creating-and-Using-SSH-Scripts</t:site>
  <t:site key="SecretServerTicketSystemIntegration">https://thycotic.force.com/support/s/article/Ticket-System-Integration-With-Secret-Server</t:site>
  <t:site key="ServiceNowFailure">https://thycotic.force.com/support/s/article/Ticket-System-Integration-ServiceNow</t:site> 
  <t:site key="SOAPAPIVideo">https://thycotic.force.com/support/s/article/How-to-Use-the-Secret-Server-Web-Services-API-video</t:site>
  <t:site key="SqlReplicationKnowledgeBase">https://thycotic.force.com/support/s/article/Upgrading-Secret-Server-with-SQL-Replication</t:site>  
  <t:site key="SS_10_IntegratedWindowsAuthentication">https://thycotic.force.com/support/s/article/Setting-Up-Integrated-Windows-Authentication-in-Secret-Server-10-0</t:site>
  <t:site key="SSAirGapNetwork">https://thycotic.force.com/support/s/article/License-Activation</t:site>
  <t:site key="SSAppPoolFix">https://thycotic.force.com/support/s/article/SS-Changing-the-Application-Pool-to-NET-4-0</t:site>
  <t:site key="SSChangingAgentConfiguration">https://thycotic.force.com/support/s/article/Changing-Agent-Configuration</t:site>
  <t:site key="SSCustomerForums">https://thycotic.force.com/support/s/secretserver</t:site>
  <t:site key="SSCustomLauncherKB">https://thycotic.force.com/support/s/article/Custom-Process-Launcher-Setup-Instructions-and-Troubleshooting</t:site>
  <t:site key="SSCustomTheme">https://thycotic.force.com/support/s/article/Creating-custom-themes-with-the-Theme-Roller</t:site>
  <t:site key="SSDiscoveryMainKB">https://thycotic.force.com/support/s/article/Discovery-Main-Article</t:site>
  <t:site key="SSDomainNotValidError">https://thycotic.force.com/support/s/article/Resolving-specified-domain-is-not-a-valid-domain-error</t:site>
  <t:site key="SSDownloadLatestVersion">https://thycotic.force.com/support/s/article/Secret-Server-Offline-Update-File</t:site>
  <t:site key="SSFixAgentUpgrade">https://thycotic.force.com/support/s/article/Fix-agents-that-cannot-automatically-upgrade</t:site>
  <t:site key="SSHPasswordChanger">https://thycotic.force.com/support/s/article/How-to-create-a-custom-SSH-password-changer</t:site>
  <t:site key="SshProxyWithConnectAs">https://thycotic.force.com/support/s/article/ssh-proxy-with-connect-as</t:site>
  <t:site key="SSKnowledgeBase">https://thycotic.force.com/support/s/secretserver</t:site>
  <t:site key="SSLdapConnectionSettingsKB">https://thycotic.force.com/support/s/article/LDAP-Password-Changing</t:site>
  <t:site key="SSLegacyAgentUpgrade">https://thycotic.force.com/support/s/article/Upgrading-Legacy-Agents-to-Engines</t:site>  
  <t:site key="SSLocalAccountDiscoveryMethod">https://thycotic.force.com/support/s/article/Local-Account-Discovery-Method-Options</t:site>
  <t:site key="SSPowerShellModules">https://thycotic.force.com/support/s/article/PowerShell-Module-for-Office-365-accounts-Secret-Server</t:site>
  <t:site key="SSRolePermissions">https://thycotic.force.com/support/s/article/List-of-Role-Permissions</t:site>
  <t:site key="SSSamlConfigurationErrorKB">https://thycotic.force.com/support/s/article/ka0370000005RPJAA2/Troubleshooting-SAML-Configuration-Errors</t:site>
  <t:site key="SSSelfSignedCertificate">https://thycotic.force.com/support/s/article/Installing-a-Self-Signed-SSL-HTTPS-Certificate</t:site>
  <t:site key="SSSQLAuthenticationSetup">https://thycotic.force.com/support/s/article/SQL-Authentication-Configuration-Secret-Server</t:site>
  <t:site key="SSSqlServerHelp">https://thycotic.force.com/support/s/article/Installing-and-Configuring-SQL-Server-Secret-Server</t:site>
  <t:site key="SSTroubleshootingClients">https://thycotic.force.com/support/s/article/Troubleshooting-Mobile-Applications-and-the-Desktop-Client</t:site>
  <t:site key="SSUpgradeOtherNodes">https://thycotic.force.com/support/s/article/How-to-Upgrade-Secret-Server-with-Web-Clustering</t:site>
  <t:site key="SSUserGuide_FolderSync">https://thycotic.force.com/support/s/article/How-to-create-a-custom-view-for-ConnectWise-synchronization</t:site>
  <t:site key="SSUserGuide_translatingSecretServer">https://thycotic.force.com/support/s/article/Translating-Secret-Server-to-another-language</t:site>
  <t:site key="SSVideoTutorials">https://thycotic.force.com/support/s/videos</t:site>
  <t:site key="SSWebMPluginRequired">https://thycotic.force.com/support/s/article/IE-Plugin</t:site>
  <t:site key="Support">https://thycotic.force.com</t:site>
  <t:site key="SybasePasswordChanging">https://thycotic.force.com/support/s/article/Configuring-Sybase-client-to-work-with-Secret-Server</t:site>
  <t:site key="TicketingSystemBmcRemedy">https://thycotic.force.com/support/s/article/Ticketing-System-Integration-BMC-Remedy</t:site>
  <t:site key="TicketingSystemBmcRemedyErrors">https://thycotic.force.com/support/s/article/BMC-Remedy-Error-Messages</t:site>
  <t:site key="TicketingSystemServiceNow">https://thycotic.force.com/support/s/article/Ticket-System-Integration-ServiceNow</t:site>  
  <t:site key="TicketPatternExplanation">https://thycotic.force.com/support/s/article/Setting-a-Ticket-Pattern-Regex</t:site>
  <t:site key="TicketSystemAtlassianJira">https://thycotic.force.com/support/s/article/Ticket-System-Integration-Atlassian-JIRA</t:site>
  <t:site key="TicketSystemManageEngineServiceDesk">https://thycotic.force.com/support/s/article/Ticket-System-Integration-ManageEngine</t:site>
  <t:site key="VideoCodecKB">https://thycotic.force.com/support/s/article/Configuring-Session-Recording</t:site>
  <t:site key="ViewTicketUrlExplanation">https://thycotic.force.com/support/s/article/View-Ticket-URL-Template-Format</t:site>
  <t:site key="WhatIsActivation">https://thycotic.force.com/support/s/article/License-Activation</t:site> -->


  <!-- Dead and Commented out Links ======================================== -->

  <!-- These are mirrored from sites.config and are inactive here -->

<!--  <t:site key="ChangeAppPoolBitness">https://thycotic.force.com/support/s/article/Changing-Application-Bitness</t:site>
  <t:site key="ConfiguringHSM">https://thycotic.force.com/support/s/article/Legacy-HSM-Integration</t:site>
  <t:site key="IisPiplineKnowledgeBase">https://thycotic.force.com/support/s/article/Configuring-IIS-for-Classic-Pipeline</t:site>
  <t:site key="RabbitMqInstallerLegacy">https://updates.thycotic.net/secretserver/RabbitMqInstaller/Archive/RabbitMqInstaller03022017.zip</t:site>
  <t:site key="RabbitMqInstallerNew">https://thycocdn.azureedge.net/engineinstallerfiles-master/rabbitMqSiteConnector/grmqh.msi</t:site>
  <t:site key="RabbitMQSSL">https://thycotic.force.com/support/s/article/Advanced-RabbitMq-Installation-with-SSL</t:site>
  <t:site key="SSBusinessContinuity">https://thycotic.force.com/support/s/article/Business-Continuity-and-Disaster-Recovery-Planning</t:site>
  <t:site key="SSOStatus">http://status.secretserveronline.com</t:site>-->

  <!-- Secret Server: updates.thycotic.net (download) Links ======================================== -->

  <!-- These are mirrored from sites.config and are inactive here -->

<!--   <t:site key="ChromeHelper">https://updates.thycotic.net/secretserver/Chrome/SecretServerLoginAssist.zip</t:site>
  <t:site key="EngineSecurity">https://updates.thycotic.net/secretserver/documents/SS_DistEngineSecurity.pdf</t:site>  
  <t:site key="EngineWhitePaper">https://updates.thycotic.net/secretserver/documents/SS_DistEngine.pdf</t:site>
  <t:site key="iPhoneDemoMovie">https://updates.thycotic.net/secretserver/iphone/faq/faq.html</t:site>
  <t:site key="RabbitMQHelper">https://updates.thycotic.net/secretserver/RabbitMqInstaller/RabbitMQHelper.zip</t:site>
  <t:site key="RESTAPIGuide">https://updates.thycotic.net/secretserver/documents/SS_RestAPIGuide.pdf</t:site>  
  <t:site key="RESTHTMLAPIGuide">https://updates.thycotic.net/secretserver/restapiguide/index.html</t:site>   
  <t:site key="RESTJavaExamples">https://updates.thycotic.net/secretserver/JavaAPIExamples/SecretServerREST_Java.zip</t:site>  
  <t:site key="SecretServerSQLReplication">https://updates.thycotic.net/secretserver/documents/SS_SQLReplication.pdf</t:site>  
  <t:site key="SSAppServerAPI">https://updates.thycotic.net/secretserver/documents/SS_AppServerAPIGuide.pdf</t:site>
  <t:site key="SSBestPractices">https://updates.thycotic.net/secretserver/documents/SS_BestPractices.pdf</t:site>
  <t:site key="SSDisasterRecoveryGuide">https://updates.thycotic.net/secretserver/documents/SS_DRGuide.pdf</t:site>
  <t:site key="SSEula">https://updates.thycotic.net/secretserver/documents/eula.pdf</t:site>
  <t:site key="SSJConsole">https://updates.thycotic.net/secretserver/JavaAPI/secretserver-jconsole.jar</t:site>
  <t:site key="SSWebServicesGuide">https://updates.thycotic.net/secretserver/documents/SS_WebServicesGuide.pdf</t:site>
  <t:site key="ThycoticPAMGuide">https://updates.thycotic.net/secretserver/documents/SS_MobileAppGuide.pdf</t:site> -->

  <!-- Secret Server: External Links ======================================== -->

  <!-- These are mirrored from sites.config and are inactive here -->

<!--   <t:site key="ChromeExt">https://chrome.google.com/webstore/detail/secret-server-login-assis/pbemhiacephlgacdahceanbbiokmgldb</t:site>
  <t:site key="ClipboardUtility">https://chrome.google.com/webstore/detail/jhmhfmkkefhodppadapgpnaiccboohef</t:site>
  <t:site key="ChromeExtV2">https://chrome.google.com/webstore/detail/secret-server-web-passwor/mfpddejbpnbjkjoaicfedaljnfeollkh</t:site>
  <t:site key="DotNet35Setup">http://download.microsoft.com/download/7/0/3/703455ee-a747-4cc8-bd3e-98a615c3aedb/dotNetFx35setup.exe</t:site>
  <t:site key="DotNet40Setup">http://download.microsoft.com/download/9/5/A/95A9616B-7A37-4AF6-BC36-D6EA96C8DAAE/dotNetFx40_Full_x86_x64.exe</t:site>
  <t:site key="DotNet451Setup">http://download.microsoft.com/download/1/6/7/167F0D79-9317-48AE-AEDB-17120579F8E2/NDP451-KB2858728-x86-x64-AllOS-ENU.exe</t:site>
  <t:site key="EdgeExt">https://microsoftedge.microsoft.com/addons/detail/kjldmpkefedgljefehmmfifbhnjngmbh</t:site>
  <t:site key="FirefoxExt">https://addons.mozilla.org/addon/secret-server-login-helper/</t:site>
  <t:site key="FirefoxExt2">https://addons.mozilla.org/addon/secret-server-login-assist-2/</t:site>
  <t:site key="FirefoxExt2V2">https://addons.mozilla.org/en-US/firefox/addon/thycotic-password-filler/</t:site>
  <t:site key="FirefoxExtV2">https://addons.mozilla.org/addon/secret-server-login-assist-2/</t:site>
  <t:site key="MicrosoftTechEdConference">http://msteched.com</t:site>
  <t:site key="OperaExt">https://addons.opera.com/en/extensions/details/secret-server-web-password-filler/</t:site>
  <t:site key="RabbitMqInstaller">https://thycocdn.azureedge.net/engineinstallerfiles-master/rabbitMqSiteConnector/grmqh.msi</t:site>
  <t:site key="SecuringSqlServer">https://msdn.microsoft.com/en-us/library/bb283235.aspx</t:site>
  <t:site key="SSDemoMovie">https://vimeo.com/151023851</t:site>
  <t:site key="SSOWelcomeMovie">https://vimeo.com/151023851</t:site>
  <t:site key="eula">https://thycotic.com/company/eula/</t:site>
  <t:site key="WebFillerChrome">https://chrome.google.com/webstore/detail/secret-server-login-assis/pbemhiacephlgacdahceanbbiokmgldb</t:site>
  <t:site key="WebFillerFirefox">https://addons.mozilla.org/en-US/firefox/addon/secret-server-login-assist-2</t:site> -->  

  <!-- Secret Server: Other Thycotic.com Links ======================================== -->
  
  <!-- These are mirrored from sites.config and are inactive here -->

  <!-- <t:site key="ActivationCenter">https://my.thycotic.com/AdminActivateLicenses.aspx</t:site>
  <t:site key="FeatureRequest">http://feedback.thycotic.com</t:site>
  <t:site key="ManageSubscription">https://my.thycotic.com/payment/billing/managesubscription/</t:site>
  <t:site key="MyOrders">https://thycotic.com/products/secret-server/licensing/purchase-additional-licenses/</t:site>
  <t:site key="PrivacyPolicy">https://thycotic.com/about-us/privacy-policy/</t:site>
  <t:site key="SecretServerBuyNowInstalledEdition">https://thycotic.com/products/secret-server/licensing/purchase-secret-server/</t:site>
  <t:site key="SecretServerBuyNowOnlineEdition">https://my.thycotic.com/Browsesshosted.aspx</t:site>
  <t:site key="SecretServerCloudTenantNotFound">https://thycotic.com/products/secret-server/</t:site>
  <t:site key="SecretServerLicensing">https://thycotic.com/products/secret-server/features/</t:site>  
  <t:site key="SecretServerTrialRenewal">https://thycotic.com/products/secret-server/start-a-trial/trial-renewal/</t:site>
  <t:site key="SiteMap">https://thycotic.com/sitemap/</t:site>
  <t:site key="SSBlog">https://thycotic.com/company/blog/</t:site>
  <t:site key="SSDownload">https://thycotic.com/products/secret-server/resources/download-secret-server/</t:site>
  <t:site key="SSExpressRenew">https://thycotic.com/solutions/free-it-tools/secret-server-free/</t:site>
  <t:site key="SSGetTrialLicenses">https://thycotic.com/products/secret-server/start-a-trial/</t:site>
  <t:site key="SSMailingList">https://go.thycotic.com/emailPreference/e/epc/101722/BL9jr5i8KAOo-UKPBeUochD7UsYAtXlv0j5X27MLIDM/172</t:site>
  <t:site key="SSManualDownload">https://thycotic.com/products/secret-server/resources/download-secret-server/</t:site>
  <t:site key="SSSQLSupport">https://thycotic.com/support/secret-server-installed/</t:site>
  <t:site key="SSStatus">http://status.thycotic.com</t:site>
  <t:site key="SSUserGuide_SecretAssistant">https://my.thycotic.com/movies/secretserver/secretassistantssl/secretassistantssl.html</t:site>
  <t:site key="SSUserGuide_windowsAuthMovie">https://my.thycotic.com/movies/secretserver/windowsauth/windowsauth.html</t:site> -->

  <!-- Secret Server Beta ======================================== -->
  
  <!-- These are mirrored from sites.config and are inactive here -->

<!--   <t:site key="CurrentBetaUpgrade">https://updates.thycotic.net/secretserver/beta/10_2/Version_10_2_000000.zip</t:site>
  <t:site key="CurrentBetaInstall">https://updates.thycotic.net/secretserver/beta/10_2/ThycoticSetup.exe</t:site>
  <t:site key="CurrentBetaInstallAgent">https://updates.thycotic.net/secretserver/beta/10_2/ThycoticAgentsInstaller_RDPMonitor_x86.exe</t:site>
  <t:site key="CurrentBetaGuide">https://updates.thycotic.net/secretserver/beta/10_2/SS-Beta-10-2.pdf</t:site>
  <t:site key="CurrentBetaInstallGuide">https://updates.thycotic.net/secretserver/beta/10_2/SS-10-2-BetaInstall.pdf</t:site>
  <t:site key="CurrentBetaVideo">https://updates.thycotic.net/secretserver/beta/10_1/SSH-Key-Rotation.mp4</t:site>
  <t:site key="CurrentBetaREST">https://updates.thycotic.net/secretserver/beta/10_1/restendpoints.zip</t:site> -->

</t:sites>
